extends layout

block content
  div( id="main-div" class="container mx-auto cursor-pointer")
    div(class="grid grid-cols-2 gap-2 shadow-md rounded-2xl p-6")
      img(class="mx-auto" src='images/not_available.png' id='image' style={'width':'500px', 'height':'460px'})
      div(class="")
        div(id="basicInfo" class="grid grid-flow auto-rows-max") 
          span(id="title" class="font-sans text-3xl")
          span(id="artistName" class="font-sans text-3xl")
          span(id="artistBio" class="font-sans text-3xl")
        div(id="detailInfo" class="grid grid-flow auto-rows-max hidden") 
          span(id="department" class="font-sans text-3xl")
          span(id="objectName" class="font-sans text-3xl")
          span(id="accessionNumber" class="font-sans text-3xl")
          span(id="accessionYear" class="font-sans text-3xl")
        br
        div(id="stop-slide-show" class="w-1/3 bg-red-300 text-center font-bold p-3 rounded-md cursor-pointer") Stop Slideshow and View Details
        div(id="resume-slide-show" class="w-1/3 bg-blue-300 text-center font-bold p-3 rounded-md cursor-pointer hidden") Resume Slideshow
