doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/compiled.css')
  body
    block content
    script(src='/jquery/jquery.min.js')
    script(src='/javascripts/script.js')
